In [3]:
import pandas as pd

df = pd.read_csv('/Users/Jiwon/Desktop/2025_Airbnb_NYC_listings.csv', index_col=0)

In [4]:
df

,id,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,36121,city scrape,Lg Rm in Historic Prospect Heights,Cozy space share in the heart of a great neigh...,Full of tree-lined streets and beautiful brown...,62165,Michael,2009-12-11,"New York, NY",I’m an urban planner working for an internatio...,...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.05
1,36647,city scrape,"1 Bedroom & your own Bathroom, Elevator Apartment",Private bedroom with your own bathroom in a 2 ...,"Manhattan, SE corner of 2nd Ave/ E. 110th street",157798,Irene,2010-07-04,"New York, NY",NaN,...,4.90,4.38,4.71,NaN,f,1,0,1,0,0.58
2,38663,city scrape,Luxury Brownstone in Boerum Hill,"Beautiful, large home in great hipster neighbo...","diverse, lively, hip, cool: loaded with restau...",165789,Sarah,2010-07-13,"New York, NY",I am a lawyer and work as an executive at an a...,...,4.88,4.86,4.62,OSE-STRREG-0001784,f,1,0,1,0,0.28
3,38833,city scrape,Spectacular West Harlem Garden Apt,This is a very large and unique space. An inc...,West Harlem is now packed with great restauran...,166532,Matthew,2010-07-14,"New York, NY",I have been a New Yorker for a long time\n and...,...,4.96,4.79,4.82,OSE-STRREG-0000476,f,1,1,0,0,1.36
4,39282,city scrape,“Work-from-home” from OUR home.,*Monthly Discount will automatically apply <br...,THE NEIGHBORHOOD:<br />Our apartment is locate...,168525,Gustavo,2010-07-16,"New York, NY",I am a music producer. And my wife is a hair s...,...,4.88,4.85,4.78,OSE-STRREG-0001150,f,2,0,2,0,1.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37429,1366333532374850165,city scrape,Beautiful 1-Bed Apt in Harlem!,Welcome to your temporary home in the vibrant ...,NaN,40019013,Cecilia,2015-07-30,"New York, NY",NaN,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
37430,1366717321390111215,city scrape,Private Room w/ Ensuite Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022-10-10,"New York, NY",Are you tired of the tedious and time-consumin...,...,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN
37431,1366721904709517353,city scrape,2 Bedroom on East Side,Located in the Murray Hill area and occupies a...,NaN,30283594,Global Luxury Suites,2015-03-30,"Hawthorne, NJ",NaN,...,NaN,NaN,NaN,NaN,f,48,48,0,0,NaN
37432,1366722692755341871,city scrape,Stylish 2Bd near Bryant Park,Enjoy everything the city has to offer while l...,NaN,407304997,Boomerang,2021-06-15,"New York, NY","At Boomerang, we believe in the idea ""you get ...",...,NaN,NaN,NaN,NaN,t,25,25,0,0,NaN
37433,1366723228243064949,city scrape,Modern Private Room + Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022-10-10,"New York, NY",Are you tired of the tedious and time-consumin...,...,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN

### loc_info

In [5]:
loc_cols = ['id', 'host_id', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude']
loc_info = df[loc_cols]

In [6]:
loc_info

,id,host_id,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude
0,36121,62165,Prospect Heights,Brooklyn,40.673760,-73.966110
1,36647,157798,East Harlem,Manhattan,40.792454,-73.940742
2,38663,165789,Boerum Hill,Brooklyn,40.684420,-73.980680
3,38833,166532,Harlem,Manhattan,40.818058,-73.946671
4,39282,168525,Williamsburg,Brooklyn,40.710651,-73.950874
...,...,...,...,...,...,...
37429,1366333532374850165,40019013,Harlem,Manhattan,40.813794,-73.952399
37430,1366717321390111215,483056418,Bedford-Stuyvesant,Brooklyn,40.685500,-73.919510
37431,1366721904709517353,30283594,Kips Bay,Manhattan,40.745290,-73.979380
37432,1366722692755341871,407304997,Theater District,Manhattan,40.757133,-73.983124
37433,1366723228243064949,483056418,Bedford-Stuyvesant,Brooklyn,40.685500,-73.919510

### booking_info

In [7]:
booking_cols = ['id', 'host_id', 'price', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'availability_60', 'availability_365', 'minimum_nights', 'maximum_nights', 'instant_bookable']

df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)
df['instant_bookable'] =  df['instant_bookable'].map({'f':0, 't':1})
df['is_long_term'] = (df['minimum_nights'] >= 28).astype(int)

# estimated occupancy and revenue 가 0 이 많아서 데이터 살펴보다보니 마지막 후기 옛날인 경우들도 존재 운휴중일 가능성 존재 -- 이건 어떻게?
# estimated occupancy 0 인 값을 0 제외?

### 어매니티 분석

In [8]:
import pandas as pd
import ast
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [9]:
amenities_cols = ['id', 'host_id', 'host_location', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'amenities']

def parse_amenities(x):
    try:
        return [a.strip().strip('"').strip("'") for a in ast.literal_eval(x)]
    except:
        return []
    
df['amenities_list'] = df['amenities'].apply(parse_amenities)

In [10]:
!pip install scikit_learn

Requirement already satisfied: scikit_learn in /Users/Jiwon/Documents/GitHub/advanced_project/venv/lib/python3.11/site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in /Users/Jiwon/Documents/GitHub/advanced_project/venv/lib/python3.11/site-packages (from scikit_learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in /Users/Jiwon/Documents/GitHub/advanced_project/venv/lib/python3.11/site-packages (from scikit_learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/Jiwon/Documents/GitHub/advanced_project/venv/lib/python3.11/site-packages (from scikit_learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/Jiwon/Documents/GitHub/advanced_project/venv/lib/python3.11/site-packages (from scikit_learn) (3.6.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [11]:
df

,id,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,is_long_term,amenities_list
0,36121,city scrape,Lg Rm in Historic Prospect Heights,Cozy space share in the heart of a great neigh...,Full of tree-lined streets and beautiful brown...,62165,Michael,2009-12-11,"New York, NY",I’m an urban planner working for an internatio...,...,5.00,NaN,0,1,0,1,0,0.05,1,"[Refrigerator, Dishes and silverware, Wifi, Ki..."
1,36647,city scrape,"1 Bedroom & your own Bathroom, Elevator Apartment",Private bedroom with your own bathroom in a 2 ...,"Manhattan, SE corner of 2nd Ave/ E. 110th street",157798,Irene,2010-07-04,"New York, NY",NaN,...,4.71,NaN,0,1,0,1,0,0.58,1,"[Oven, Blender, Luggage dropoff allowed, Dedic..."
2,38663,city scrape,Luxury Brownstone in Boerum Hill,"Beautiful, large home in great hipster neighbo...","diverse, lively, hip, cool: loaded with restau...",165789,Sarah,2010-07-13,"New York, NY",I am a lawyer and work as an executive at an a...,...,4.62,OSE-STRREG-0001784,0,1,0,1,0,0.28,0,"[Portable fans, Oven, Baking sheet, Fire extin..."
3,38833,city scrape,Spectacular West Harlem Garden Apt,This is a very large and unique space. An inc...,West Harlem is now packed with great restauran...,166532,Matthew,2010-07-14,"New York, NY",I have been a New Yorker for a long time\n and...,...,4.82,OSE-STRREG-0000476,0,1,1,0,0,1.36,0,"[Fire extinguisher, Clothing storage: closet, ..."
4,39282,city scrape,“Work-from-home” from OUR home.,*Monthly Discount will automatically apply <br...,THE NEIGHBORHOOD:<br />Our apartment is locate...,168525,Gustavo,2010-07-16,"New York, NY",I am a music producer. And my wife is a hair s...,...,4.78,OSE-STRREG-0001150,0,2,0,2,0,1.54,0,"[Oven, Rice maker, Laundromat nearby, Luggage ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37429,1366333532374850165,city scrape,Beautiful 1-Bed Apt in Harlem!,Welcome to your temporary home in the vibrant ...,NaN,40019013,Cecilia,2015-07-30,"New York, NY",NaN,...,NaN,NaN,0,1,0,1,0,NaN,1,"[Air conditioning, Carbon monoxide alarm, Wifi..."
37430,1366717321390111215,city scrape,Private Room w/ Ensuite Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022-10-10,"New York, NY",Are you tired of the tedious and time-consumin...,...,NaN,NaN,0,24,0,24,0,NaN,1,"[Air conditioning, Carbon monoxide alarm, Wash..."
37431,1366721904709517353,city scrape,2 Bedroom on East Side,Located in the Murray Hill area and occupies a...,NaN,30283594,Global Luxury Suites,2015-03-30,"Hawthorne, NJ",NaN,...,NaN,NaN,0,48,48,0,0,NaN,1,"[Air conditioning, Carbon monoxide alarm, Wash..."
37432,1366722692755341871,city scrape,Stylish 2Bd near Bryant Park,Enjoy everything the city has to offer while l...,NaN,407304997,Boomerang,2021-06-15,"New York, NY","At Boomerang, we believe in the idea ""you get ...",...,NaN,NaN,1,25,25,0,0,NaN,1,"[Oven, Gym, Blender, Dedicated workspace, Dini..."
37433,1366723228243064949,city scrape,Modern Private Room + Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022-10-10,"New York, NY",Are you tired of the tedious and time-consumin...,...,NaN,NaN,0,24,0,24,0,NaN,1,"[Air conditioning, Carbon monoxide alarm, Wash..."