In [1]:
import pandas as pd

df= pd.read_csv('/Users/Jiwon/Documents/GitHub/advanced_project/jiwon_project/csv_files/NY_Airbnb_original_df.csv')

In [3]:
(df['has_availability'] == 't').mean()

np.float64(0.9889725658956429)

In [ ]:
df.loc[df['has_availability'] == 'f']

Empty DataFrame
Columns: [id, source, name, description, neighborhood_overview, host_id, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, availability_eoy, number_of_reviews_ly, estimated_occupancy_l365d, estimated_revenue_l365d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

[0 rows x 72 columns]

In [7]:
df['number_of_reviews'].isnull().sum()

np.int64(0)

In [8]:
non_review_pct = (df['number_of_reviews'] == 0).sum()/len(df)

print(f'non review pct: {non_review_pct:.2f}')

non review pct: 0.30

In [9]:
non_review = df[df['number_of_reviews'] == 0]

In [16]:
pd.set_option('display.max_columns', None)
non_review.loc[non_review['host_since'].isnull()]

,id,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
14258,911059653094636598,city scrape,Flatbush 2 Rooms,This stylish place to stay is perfect for grou...,NaN,219152877,NaN,NaT,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,East Flatbush,Brooklyn,40.652480,-73.937667,Entire rental unit,Entire home/apt,3,1.0,1 bath,2.0,2.0,"[""Clothing storage: walk-in closet and wardrob...",$116.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,28,58,88,363,2025-03-02,0,0,0,303,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
15758,1007480104408240518,city scrape,The perfect Brooklyn 1 bedroom,Welcome to your private 1<br />bed 1 bath in t...,NaN,40744019,NaN,NaT,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Williamsburg,Brooklyn,40.714473,-73.946882,Private room in rental unit,Private room,2,1.0,1 shared bath,1.0,1.0,"[""Air conditioning"", ""Wifi"", ""TV""]",$160.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,29,59,89,269,2025-03-02,0,0,0,269,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
20749,1294847782653168909,city scrape,2 bed 2 bath in BedStuy,2 bedroom 2 bathroom in the heart of Bedford S...,NaN,130148524,NaN,NaT,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bedford-Stuyvesant,Brooklyn,40.689883,-73.940911,Entire rental unit,Entire home/apt,4,2.0,2 baths,2.0,2.0,"[""Blender"", ""Dedicated workspace"", ""Extra pill...",$232.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,30,35,46,136,2025-03-02,0,0,0,136,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN

In [ ]:
non_review = non_review.dropna(subset=['host_since'])
non_review['host_since'] = pd.to_datetime(non_review['host_since'])
non_review['host_since'] = non_review['host_since'].dt.year.astype(int)

non_review['host_since'] >= 2020

,id,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
31,45935,city scrape,Room in Beautiful Townhouse.,Single bedroom available in 3 bedroom apartmen...,NaN,204586,L,2010,NaN,NaN,NaN,NaN,NaN,f,NaN,1.0,2.0,"['email', 'phone']",t,t,NaN,Mott Haven,Bronx,40.806350,-73.922010,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Fire extinguisher"", ""First aid kit"", ""Breakf...",$60.00,30,40,30.0,30.0,40.0,40.0,30.0,40.0,NaN,t,24,54,83,83,2025-03-02,0,0,0,83,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,1,0,1,0,NaN
59,54466,city scrape,Beautiful Uptown Manhattan apartmnt,NaN,NaN,253385,Douglas,2010,"New York, NY",NaN,NaN,NaN,NaN,f,Harlem,1.0,1.0,"['email', 'phone']",t,t,NaN,Harlem,Manhattan,40.802550,-73.958030,Private room in rental unit,Private room,2,1.0,1 bath,1.0,1.0,"[""TV with standard cable"", ""Oven"", ""Gym"", ""Dis...",$172.00,30,60,30.0,30.0,60.0,60.0,30.0,60.0,NaN,t,30,60,90,365,2025-03-02,0,0,0,305,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
107,63588,city scrape,LL3,A large bedroom sleeps 3 in a modern 2 bedroom...,My home sits on a tree lined street across fro...,295128,Carol Gloria,2010,"New York, NY",I'm a world traveler and a retired customer s...,NaN,NaN,NaN,f,Soundview,6.0,7.0,"['email', 'phone']",t,t,Neighborhood highlights,Clason Point,Bronx,40.811610,-73.854990,Private room in home,Private room,3,1.0,1 shared bath,2.0,2.0,"[""Oven"", ""Fire extinguisher"", ""First aid kit"",...",$107.00,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,0,0,0,0,2025-03-03,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,6,0,6,0,NaN
110,169483,city scrape,Very close to Downtown Awesome Private Apartment,"Experience NY just like a local, clean, comfor...",Right by the F line<br />No walking needed,807642,Jeffrey,2011,"New York, NY",Hi there! I have lived in New York for 19 year...,NaN,NaN,NaN,f,Gravesend,2.0,2.0,"['email', 'phone']",t,t,Neighborhood highlights,Gravesend,Brooklyn,40.606020,-73.970760,Entire rental unit,Entire home/apt,4,1.0,1 bath,1.0,1.0,"[""TV with standard cable"", ""Kitchen"", ""First a...",$231.00,30,30,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,0,0,0,182,2025-03-02,0,0,0,122,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,2,1,1,0,NaN
189,89427,city scrape,The Brooklyn Waverly,NaN,NaN,116599,Sahr,2010,"New York, NY",Greetings! I am a working mother and artist wh...,NaN,NaN,NaN,f,Clinton Hill,3.0,5.0,"['email', 'phone']",t,t,NaN,Clinton Hill,Brooklyn,40.685130,-73.966480,Entire rental unit,Entire home/apt,10,1.5,1.5 baths,1.0,0.0,"[""TV with standard cable"", ""Outdoor furniture""...",$800.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,23,53,83,358,2025-03-02,0,0,0,298,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22303,1366333532374850165,city scrape,Beautiful 1-Bed Apt in Harlem!,Welcome to your temporary home in the vibrant ...,NaN,40019013,Cecilia,2015,"New York, NY",NaN,NaN,NaN,NaN,f,NaN,1.0,2.0,"['email', 'phone']",t,t,NaN,Harlem,Manhattan,40.813794,-73.952399,Private room in rental unit,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Air conditioning"", ""Carbon monoxide alarm"", ...",$72.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,23,53,83,358,2025-03-02,0,0,0,298,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
22304,1366717321390111215,city scrape,Private Room w/ Ensuite Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022,"New York, NY",Are you tired of the tedious and time-consumin...,within an hour,100%,80%,t,Bedford-Stuyvesant,24.0,33.0,"['email', 'phone']",t,t,NaN,Bedford-Stuyvesant,Brooklyn,40.685500,-73.919510,Private room in rental unit,Private room,2,1.0,1 private bath,1.0,0.0,"[""Air conditioning"", ""Carbon monoxide alarm"", ...",$58.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,28,58,88,363,2025-03-02,0,0,0,303,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN
22305,1366721904709517353,city scrape,2 Bedroom on East Side,Located in the Murray Hill area and occupies a...,NaN,30283594,Global Luxury Suites,2015,"Hawthorne, NJ",NaN,within an hour,94%,99%,f,Miami Beach,619.0,1974.0,"['email', 'phone', 'work_email']",t,t,NaN,Kips Bay,Manhattan,40.745290,-73.979380,Entire rental unit,Entire home/apt,5,2.0,2 baths,2.0,3.0,"[""Air conditioning"", ""Carbon monoxide alarm"", ...",$299.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,30,39,39,99,2025-03-02,0,0,0,39,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,48,48,0,0,NaN
22306,1366722692755341871,city scrape,Stylish 2Bd near Bryant Park,Enjoy everything the city has to offer while l...,NaN,407304997,Boomerang,2021,"New York, NY","At Boomerang, we believe in the idea ""you get ...",within an hour,89%,100%,f,Park Slope,26.0,38.0,"['email', 'phone']",t,t,NaN,Theater District,Manhattan,40.757133,-73.983124,Entire rental unit,Entire home/apt,4,1.0,1 bath,2.0,2.0,"[""Oven"", ""Gym"", ""Blender"", ""Dedicated workspac...",$200.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,30,60,90,365,2025-03-02,0,0,0,305,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,25,25,0,0,NaN
22307,1366723228243064949,city scrape,Modern Private Room + Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022,"New York, NY",Are you tired of the tedious and time-consumin...,within an hour,100%,80%,t,Bedford-Stuyvesant,24.0,33.0,"['email', 'phone']",t,t,NaN,Bedford-Stuyvesant,Brooklyn,40.685500,-73.919510,Private room in rental unit,Private room,2,1.0,1 private bath,1.0,0.0,"[""Air conditioning"", ""Carbon monoxide alarm"", ...",$58.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,28,58,88,363,2025-03-02,0,0,0,303,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN

In [23]:
df['availability_365'].describe()

count    22308.000000
mean       239.724718
std        112.168551
min          0.000000
25%        151.000000
50%        269.000000
75%        352.000000
max        365.000000
Name: availability_365, dtype: float64